@import url('https://fonts.googleapis.com/css?family=Sansita|Lobster');

.intro-section{
  background-image: url(../img/intro3.jpg);
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-section{
  background-image: url(../img/intro2.jpeg);
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-default{
  background-color: #2C3E50;
  border-color: #2C3E50;
  font-weight: 700;
}
.navbar-default .navbar-nav>li>a{
  color: #fff;
  font-size: 16px;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #fff;
  background-color: #2ec997;;
}
.active{
  background-color: #2ec997;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #2ec997;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
#MT{
  font-size: 34px;
  padding: 15px 15px;
  color: #fff;
  font-family: 'Lobster', sans-serif;
}
img{
  vertical-align: middle;
}
.img-responsive{
  margin-left: auto;
  margin-right: auto;
  height: 230px;
  border-radius: 50%;
}
.name{
  font-size: 42px;
  color: #fff;
  font-weight: 700;
  font-family: 'Lobster', sans-serif;
}
.jumbotron {
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background-color: rgba(245, 245, 245, 0.3);
   margin-top: -30px;
}
.skills{
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  font-family: 'Sansita', sans-serif;
}
#img-res-xs{
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  border-radius: 50%;
}
.skills-xs{
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  font-family: 'Sansita', sans-serif;
}
.name-xs{
  font-size: 36px;
  color: #fff;
  font-family: 'Lobster', sans-serif;
  font-weight: 700;
}
.star-light{
  font-weight: 700;
}
#xs{
  margin-top: -20px;
}
