.app-header{
  background: url('../img/intro3.jpg') no-repeat center top fixed;
  background-size: cover;
  font-family: "Avenir", Futura, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 80px;
}
.app-navbar{
  background: rgba(0,0,0,0.6);
  border-radius: 0;
}
.app-link{
  color: #fff;
  text-shadow: none;
}
.app-link:hover{
  color: #fff;
}
a{
  color: #fff;
}
a:hover{
  color: #222;
}
.app-navbar>li>a{
  color: #fff;
  text-shadow: none;
}
.app-navbar>li>a:hover{
  color: #fff;
  background-color: #222;
}
.app-icon{
  background: #fff;
}
.section1{
  width: 60%;
  margin: 0 auto;
  margin-top: 170px;
}
.app-title{
  text-align: center;
  color: #fff;
  font-family: 2.8em;
  margin-bottom: 35px;
}
.resalt{
  color: #2ec997;
}
.descripcion1{
  text-align: center;
  color: #fff;
  font-size: 1em;
  margin-bottom: 80px;
  font-weight: 700;
}
.solucion{
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.app-formulario1{
  width: 100%;
  margin: 0 auto;
}
.app-formulario2{
  padding: 15px 25px 25px 25px;
  background: rgba(0,0,0,0.6);
}
.app-input{
  height: 50px;
  margin-top: 10px;
}
.app-button{
  margin-top: 10px;
  height: 50px;
  background: #2ec997;
  color: #fff;
}
.app-button:hover{
  background: #2ec987;
  color: #fff;
}
.app-section2{
  margin: 80px 0;
}
.app-title2{
  margin-top: 0;
}
.app-separator{
  width: 100px;
  border-bottom: 1px solid #2ec997;
  margin-top: 20px;
  margin-bottom: 20px;
}
.app-justify{
  text-align: justify;
  color: #727272;
}
.app-media{
  margin-top: 40px;
}
.app-icon1{
  background-color: #2ec997;
  color: #fff;
  font-size: 30px;
  padding: 10px;
}
.app-title3{
  text-align: center;
}
.app-section3{
  background-color: #f7f8fa;
  padding: 80px 0;
}
.app-contenedor{
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.app-separator2{
  width: 100px;
  border-bottom: 1px solid #2ec997;
  margin: 20px auto;
}
.icon2{
  color: #2ec997;
  font-size: 60px;
}
.app-description2{
  color: #727272;
}
.app-list1{
  background-color: #323232;
  color: #fff;
  text-align: center;
}
.app-price{
  text-align: center;
}
.app-payment{
  font-weight: bold;
  margin-right: 30px;
}
.app-btn1{
  background-color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #222;
}
.app-list2{
  background-color: #2ec997;
  color: #fff;
  text-align: center;
}
.app-btn2{
  background-color: #2ec997;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.app-video{
  margin: 0 auto;
  margin-bottom: 20px;
}
.app-footer{
  text-align: center;
  background-color: #f7f8fa;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 100px 0;
}
.app-empresa{
  margin-bottom: 50px;
}
.app-icon1{
  background-color: #919191;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-left: 10px;
}


@media (max-width: 768px){
  .section1{
    width: 90%;
  }
  .app-title{
    font-size: 1.8em;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .descripcion1{
    font-size: 0.8em;
    margin-bottom: 50px;
  }
}
